<div class="container">
  <div>
    <div class="field form-group">
      <label>Email</label>
      <input [(ngModel)]="username" type="email" class="form-control" autofocus="true">
    </div>

    <div class="field form-group">
      <label>Password</label>
      <input [(ngModel)]="password" type="password" class="form-control">
    </div>

    <div class="actions">
      <button (click)="login(username, password)" type="submit" class="btn btn-success btn-block">Login</button>
    </div>
  </div>
</div>
